/* General layout items */
#data-chart {
  margin: 5em 0em;
  height: 30em;
  text-align: center;
  background-color: rgba(30, 30, 30, 0.09);
  border-radius: 0.5em;
}

a {
  text-decoration: none;
}
